<html>
  <head>
    <meta charset="utf-8">
    <title>Applied Innovations Institute &middot; </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <%= stylesheet_link_tag "bootstrap" %>
    <%= stylesheet_link_tag "bootstrap-responsive" %>
  </head>

  <body>
    <div id="wrapper">

      <div id="header">
	<%= render "/navbar" %>
      </div>
      
      <div id="content">
	<div class = "row">
	  <div align = "center">
	    <h0>Upcoming Events</h0>
	  </div>
	</div>

	<br>
	
	<div class = "row">
	  <div align = "center">
	    <% @events.each do |event| %>
	    <h3><%= event.name %></h3>
	    <p class="ex"> <B>About:</B> <%= event.description %></p>
	    <p> <%= event.location %></p>
	    <p> Begins on <%= event.startTime.strftime("%B %d, %Y at %I:%M %p") %></p>
	    <p> And ends on <%= event.endTime.strftime("%B %d, %Y at %I:%M %p") %></p>
	    <table class="transparent">
	      <tr>
	      <td><%= button_to "Edit", edit_event_path(event.id), {:class => "btn btn-warning btn-medium" } %></td>
	      <td><%= button_to "Delete", delete_event_path(event.id), :class => "btn btn-danger btn-medium", :confirm => "Are you sure you wish to delete this event?" %></td>
	      <tr>
	    </table>
	    <hr class="event">
	    <% end %>
	  </div>
	</div>
	
	<div class = "row">
	  <div align = "center">
	    <h3>Create New Event</h3>
	  </div>
	</div>
	
	<div class = "row">
	  <%= form_for @event, :url => new_event_path() do |f| %>
	  
	  <%= f.label :name, "Name:" %>
	  <%= f.text_area :name, :class => 'field span6', :id => 'name', :rows => 1 %>
	  
	  <%= f.label :description, "Enter a short description:" %>
	  <%= f.text_area :description, :class => 'field span6', :id => 'description', :rows => 6 %>
	  
	  <%= f.label :startTime, "Start Date and Time:" %>
	  <%= f.datetime_select :startTime, :prompt => {:hour => 'Choose Hour', :minute => 'Choose Minute'}, :ampm => true, :minute_step => 15 %>
	  
	  <%= f.label :endTime, "End Date and Time:" %>
	  <%= f.datetime_select :endTime, :prompt => {:hour => 'Choose Hour', :minute => 'Choose Minute'}, :ampm => true, :minute_step => 15 %>
	  
	  <%= f.label :location, "Location:" %>
	  <%= f.text_area :location, :class => 'field span6', :id => 'location', :rows => 1 %>
	  
	  <br>
	  <%= f.submit "Create Event", {:class => "btn btn-primary btn-medium" } %>
	  <% end %>
	</div>
      </div>
      
      <div id="footer">
	<%= render "/footer" %>
      </div>
      
    </div>
  </body>
</html>
