<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Applied Innovations Institute &middot; </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->

    <%= stylesheet_link_tag "bootstrap" %>
    <%= stylesheet_link_tag "bootstrap-responsive" %>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body>


    <%= render "/navbar"%>

    <hr class="featurette-divider">
      <!-- START THE FEATURETTES -->
      <div class="row">
        <div class = "span6 offset3">
          <h3><%= "Newest Projects by #{@name} students" %></h3>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Project Name</th>
                  <th>Project Owner</th>
                  <th>Date Created</th>
                </tr>
              </thead>
            <tbody>
              <% @school.projects.each do |project| %>
              <tr>
                <td>BLAH</td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2012 CET &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    <%= render "/footer"%>
<!-- /.container -->
  </body>
</html>
