<html>
  <head>
    <meta charset="utf-8">
    <title>Applied Innovations Institute &middot; </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <%= stylesheet_link_tag "bootstrap" %>
    <%= stylesheet_link_tag "bootstrap-responsive" %>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <div id="wrapper">

      <div id="header">
  <%= render "/navbar"%>
      </div>

  <div id="content">
  <div class = "row">
    <div align = "center">
      <h1><%= @project.title %></h1>
      <h5><%= button_to "Edit Project", edit_project_path(@project.id), :class => "btn btn-warning btn-medium" if @can_edit %></h5>
    </div>
  </div>
  <hr class="featurette-divider">

  <div class = "row">
    <div align = "center">
            <h4>Description</h4>
      <p class="ex"><%= @project.description %></p>
    </div>
  </div>

  <div class = "row">
    <div align = "center">
      <h4>Last Updated</h4>
      <p><%= time_ago_in_words(@project.updated_at) %> ago</p>
    </div>
  </div>

  <div class = "row">
    <div align = "center">
      <h4>Created</h4>
      <p><%= @project.created_at.to_formatted_s(:long) %></p>
    </div>
  </div>

  <div class = "row">
    <div align = "center">
      <h4>Collaborators</h4>
      <% @project.users.each do |user| %>
        <% if user != @user %>
            <p><%= link_to user.email, profile_path(user.id) %></p>
        <% end %>
      <% end %>
      <h5> <%= button_to "Edit Collaborators", edit_collaborators_path(@project.id), :method => :get, :class => "btn btn-warning btn-medium" if @can_edit %> </h5>
    </div>
  </div>

  <hr class="featurette-divider">
  <div class = "row">
    <div class = "span12" align=left>
      <h3 align=left>Project Documents</h3>
      <table class="table">
        <tbody>
<tr>
<%= form_for @document, :url => create_doc_path, :html => { :multipart => true } do |form| %>
  <td colspan=2><%= form.file_field :avatar %></td>
  <td colspan=3><%= text_field :document, "description", :placeholder => "add description...", :class => "input-xlarge", :id => "description"%></td>
  <td><%= submit_tag "Upload New File", :class => "btn btn-primary" %></td>
<% end %>
</tr>

<% @project.documents.each do |doc| %>
<tr>
  <td>
    <% if @can_edit%>
      <%= link_to doc.avatar_file_name, doc.avatar.url %>
    <% else %>
      <%= doc.avatar_file_name %>
    <% end %>
  </td>
  <td><%= doc.description %></td>
  <td><%= doc.avatar_file_size/1000 %>kB</td>
  <td>Uploaded By: <%= link_to doc.updater.name, profile_path(doc.updater.id) %></td>
  <td><%= time_ago_in_words(doc.avatar_updated_at) %> ago</td>
  <td><%= button_to "Delete File", destroy_doc_path(@project.id, doc.id), :class => "btn btn-danger btn-mini", :confirm => "Are you sure?" %></td>
</tr>
<% end %>

        </tbody>
      </table>
    </div>
  </div>

  <hr class="featurette-divider">
  <h3>Comments</h3>

  <div class="row">
    <div class="span10">
      <table class="table">
        <tbody>
    <tr>
      <%= form_tag create_comment_path do %>
      <td colspan=3><%= text_field :comment, :text, :placeholder => "add comment...", :class => "input-xxlarge", :id => "new_comment" %></td>
      <td><%= submit_tag "Add Comment", :class => "btn btn-primary" %></td>
      <% end %>
    </tr>

    <% @comments.each do |comment| %>
    <tr>
      <td><%= link_to comment.user.name, profile_path(comment.user.id) %></td>
      <td><%= comment.text %></td>
      <td><%= time_ago_in_words(comment.created_at) %> ago</td>
      <% if @can_edit or @user.id == comment.user.id %>
      <td><%= button_to "Delete Comment", destroy_comment_path(@project.id, comment.id), :class => "btn btn-danger btn-mini", :confirm => "Are you sure?" %></td>
      <% end %>
    </tr>
    <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div id="footer">
    <%= render "/footer"%>
  </div>

    </div>
  </body>
</html>
